<% include partials/header %>

<div class="container">
    <header class="jumbotron" style="color:gray">
       <div class="container">
           <h2>Welcome to Hire Harlem</h2> 
           <p><h3>View our businesses from all over the community</h3></p>
            <p>
                <a class="btn btn-primary btn-lrg" href="/business/new">Submit new business!</a>
            </p>
            <p>
              <form action="/business" method="GET" class="form-inline" id="business-search">
                <div class="form-group">
                  <input type="text" name="search" placeholder="business search..." class="form-control">
                </div>
              </form>
             </p>
        </div>
    </header>
    
    <h4>Browse by Category</h4>

<!--Accordian Test-->

    <div id="accordion" role="tablist">
      <div class="card ">
        <div class="card-header" role="tab" id="headingOne">
          <h5 class="mb-0">
             <button id="browse" class="btn btn-primary" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Food
            </button>
            <button id="browse" class="btn btn-primary" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Beauty
            </button>
            <button id="browse" class="btn btn-primary" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Cultural
            </button> 
            <button id="browse" class="btn btn-primary" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Shopping
            </button>
            <button id="browse" class="btn btn-primary" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              Services
            </button>
          </h5>
        </div>
    
        <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card card-body">
                <button type="button" class="btn btn-secondary" id=subBrowse>Bakery</button> 
                <button type="button" class="btn btn-secondary" id=subBrowse>Bars/Nightlife</button>
                <button type="button" class="btn btn-secondary" id=subBrowse>Cafe</button>   
                <button type="button" class="btn btn-secondary" id=subBrowse>Catering</button> 
                <button type="button" class="btn btn-secondary" id=subBrowse>Classes</button>
                <button type="button" class="btn btn-secondary" id=subBrowse>Restaurants</button>   
                <button type="button" class="btn btn-secondary" id=subBrowse>Restaurants/Nightlife</button>   
            </div>
        </div>
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card card-body">
                <button type="button" class="btn btn-secondary" id=subBrowse>Barbershops</button> 
                <button type="button" class="btn btn-secondary" id=subBrowse>Nail Salon</button>
                <button type="button" class="btn btn-secondary" id=subBrowse>Beauty</button>   
                <button type="button" class="btn btn-secondary" id=subBrowse>Cosmetics</button> 
                <button type="button" class="btn btn-secondary" id=subBrowse>Fitness</button>
                <button type="button" class="btn btn-secondary" id=subBrowse>Beauty Salon</button>   
            </div>
        </div>
        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card card-body">
                <button type="button" class="btn btn-secondary" id=subBrowse>Art</button> 
                <button type="button" class="btn btn-secondary" id=subBrowse>Tours</button>
                <button type="button" class="btn btn-secondary" id=subBrowse>Music</button>
            </div>
        </div>
        <div id="collapseFour" class="collapse " role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card card-body">
                <button type="button" class="btn btn-secondary" id=subBrowse>Clothing</button> 
                <button type="button" class="btn btn-secondary" id=subBrowse>Gifts</button>
                <button type="button" class="btn btn-secondary" id=subBrowse>Health</button>   
                <button type="button" class="btn btn-secondary" id=subBrowse>Alcohol</button> 
                <button type="button" class="btn btn-secondary" id=subBrowse>Books</button>   
            </div>
        </div>
        <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card card-body">
                <button type="button" class="btn btn-secondary" id=subBrowse>Construction</button> 
                <button type="button" class="btn btn-secondary" id=subBrowse>Consulting</button>
                <button type="button" class="btn btn-secondary" id=subBrowse>Entertainment</button>   
                <button type="button" class="btn btn-secondary" id=subBrowse>Pets</button>   
            </div>
        </div>
      </div>
    </div>
    
    
    <!--<div class="row text-center" style="display:flex; flex-wrap:wrap;">-->
     <div class="row text-center flex-wrap" id="business-grid">
        <% businesses.forEach(function(business){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= business.image %>">
                    <div class="caption">
                        <h4><%= business.name %></h4>
                        <p><%= business.address%></p>
                        <p><%= business.category%></p>
                    </div>
                    <p>
                        <a href="/business/<%= business._id%>" class="btn btn-primary">Details</a>
                    </p>
                </div>
            </div>    
        <% }); %>
    </div>        
</div>



<% include partials/footer %>