<% include partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <p class="lead"><h2><a href=""></a><%= business.name %></h2></p>
             <div class="well" id="map" style="width: 100%">
                  <!--map eventually-->
            </div>
            <div class="list-group" style="color:gray">
                <li class="list-group-item">Owner: <%= business.owner %></li>
                <li class="list-group-item"><%= business.address %></li>
                <li class="list-group-item"><%= business.phoneNumber %></li>
                <li class="list-group-item"><%= business.website %></li>
            </div>
           
           
        </div>
        <div class="col-md-8">
            <div class="thumbnail" style="background:none;">
                <img class="image-responsive" src="<%=business.image%>">
                <div class="caption-full">
                    <h4 class="pull-right"><%= business.subCategory %></h4>
                     <p><%= business.description%></p>
                </div>
                <a class="btn btn-warning" href="/business/<%= business._id%>/edit">Update Information</a>
                <form id="delete-form" action="/business/<%= business._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Remove Business</button>
                </form>
               
            </div>
        </div>

<!--                         YELP CAMP MAP            -->
<!--<script>-->
<!--  function initMap() {-->
<!--    var address = <= business.address %>;-->
<!--    var center = {address: address};-->
<!--    var map = new google.maps.Map(document.getElementById('map'), {-->
<!--        zoom: 12,-->
<!--        center: center,-->
<!--        scrollwheel: false-->
<!--    });-->
<!--    var contentString = -->
<!--      <strong><= business.name %><br />-->
<!--      <= business.address %></strong>-->
<!--      <p><= business.description %></p>-->
    
<!--    var infowindow = new google.maps.InfoWindow({-->
<!--      content: contentString-->
<!--    });-->
<!--    var marker = new google.maps.Marker({-->
<!--        position: center,-->
<!--        map: map-->
<!--    });-->
<!--    marker.addListener('click', function() {-->
<!--      infowindow.open(map, marker);-->
<!--    });-->
<!--  }-->
<!--</script>-->

<!--<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDN9x7XusTHFJbVqOty_lH4OIkrTg_qIH4&callback"></script>-->

<!--Display the campground location in show.ejs-->
<!--Create a div with an id of map directly beneath where you have the Info 1, 2 and 3 .list-group inside of .col-md-3:-->
<!--  <div id="map"></div>-->
 
<!--           END YELP CAMP MAP              -->







<script type="text/javascript" src="//static.caspio.com/mashup/script/caspio_mashups_v7.js"></script>
                <script type="text/javascript">
                var mapSettings = {
                    'mapType': 'G',
                    'mapView': 'R',
                    'mapWidth': '250%',
                    'mapHeight': '250',
                    'mapCssStyle': '',
                    'useAutoZoom': 'N',
                    'zoomLevelResult': '13',
                    'zoomLevelDetails': '13',
                    'zoomLevelMapIt': '14',
                    'bubbleOpenType': '1',
                    'disableScrollWheel': 'N',
                    'showTrafficLayer': 'N',
                    'plotMarkers': 'Y',
                    'homePosition': '10030',
                    'apiKey': 'AIzaSyDspzXfM1ryt4sGq46kRDMhVf8tWqhWVJM'
                };
                var dpSettings_d54c500024417564a6284d7b9b22 = new mapDataPageSettings('d54c500024417564a6284d7b9b22');
                dpSettings_d54c500024417564a6284d7b9b22.DefaultIcon = '//static.caspio.com/mashup/icons/flat/icon2.png';
                dpSettings_d54c500024417564a6284d7b9b22.DefaultIconWidth = '20';
                dpSettings_d54c500024417564a6284d7b9b22.DefaultIconHeight = '34';
                dpSettings_d54c500024417564a6284d7b9b22.MapItEnabled = 'Y';
                dpSettings_d54c500024417564a6284d7b9b22.MapItLabel = 'View on map';
                dpSettings_d54c500024417564a6284d7b9b22.FilterNeed = 'N';
                dpSettings_d54c500024417564a6284d7b9b22.FilterRowSize = '8';
                var criteria_39c7f6d32c284cf4a516a2168153c371 = new mapIconCondition();
                criteria_39c7f6d32c284cf4a516a2168153c371.Name = 'Food';
                criteria_39c7f6d32c284cf4a516a2168153c371.Operators =
                [
                    {
                        Action: '1',
                        FieldToCompare: 'category',
                        ValueToCompare: 'Food',
                        ComparisonStyle: '1'
                    }
                ];
                criteria_39c7f6d32c284cf4a516a2168153c371.MapIcon = '//static.caspio.com/mashup/icons/flat/icon11.png';
                criteria_39c7f6d32c284cf4a516a2168153c371.MapIconWidth = '16';
                criteria_39c7f6d32c284cf4a516a2168153c371.MapIconHeight = '27';
                dpSettings_d54c500024417564a6284d7b9b22.AddCondition(criteria_39c7f6d32c284cf4a516a2168153c371);
                var criteria_8387a78b873e474cae0b1c97960bd5a2 = new mapIconCondition();
                criteria_8387a78b873e474cae0b1c97960bd5a2.Name = 'Cultural';
                criteria_8387a78b873e474cae0b1c97960bd5a2.Operators =
                [
                    {
                        Action: '1',
                        FieldToCompare: 'category',
                        ValueToCompare: 'Cultural',
                        ComparisonStyle: '1'
                    }
                ];
                criteria_8387a78b873e474cae0b1c97960bd5a2.MapIcon = '//static.caspio.com/mashup/icons/flat/icon12.png';
                criteria_8387a78b873e474cae0b1c97960bd5a2.MapIconWidth = '16';
                criteria_8387a78b873e474cae0b1c97960bd5a2.MapIconHeight = '27';
                dpSettings_d54c500024417564a6284d7b9b22.AddCondition(criteria_8387a78b873e474cae0b1c97960bd5a2);
                var criteria_a2f81f68dd3b4d4a8a5a8a0a76199370 = new mapIconCondition();
                criteria_a2f81f68dd3b4d4a8a5a8a0a76199370.Name = 'Beauty';
                criteria_a2f81f68dd3b4d4a8a5a8a0a76199370.Operators =
                [
                    {
                        Action: '1',
                        FieldToCompare: 'category',
                        ValueToCompare: 'Beauty',
                        ComparisonStyle: '1'
                    }
                ];
                criteria_a2f81f68dd3b4d4a8a5a8a0a76199370.MapIcon = '//static.caspio.com/mashup/icons/flat/icon13.png';
                criteria_a2f81f68dd3b4d4a8a5a8a0a76199370.MapIconWidth = '16';
                criteria_a2f81f68dd3b4d4a8a5a8a0a76199370.MapIconHeight = '27';
                dpSettings_d54c500024417564a6284d7b9b22.AddCondition(criteria_a2f81f68dd3b4d4a8a5a8a0a76199370);
                var criteria_e87640194de947b081b4b65afebdae71 = new mapIconCondition();
                criteria_e87640194de947b081b4b65afebdae71.Name = 'Shopping';
                criteria_e87640194de947b081b4b65afebdae71.Operators =
                [
                    {
                        Action: '1',
                        FieldToCompare: 'category',
                        ValueToCompare: 'Shopping',
                        ComparisonStyle: '1'
                    }
                ];
                criteria_e87640194de947b081b4b65afebdae71.MapIcon = '//static.caspio.com/mashup/icons/flat/icon14.png';
                criteria_e87640194de947b081b4b65afebdae71.MapIconWidth = '16';
                criteria_e87640194de947b081b4b65afebdae71.MapIconHeight = '27';
                dpSettings_d54c500024417564a6284d7b9b22.AddCondition(criteria_e87640194de947b081b4b65afebdae71);
                mapEnvironment.AddDataPageMapSettings(dpSettings_d54c500024417564a6284d7b9b22);
                </script>
                <script type="text/javascript">mapEnvironment.PreLoadEmptyMap();</script>
                
                <!--map end-->
                
                <!--<div id="" style="overflow:scroll; height:300px; padding:2%; background:none">-->
                
                <!--<script type="text/javascript" src="https://c0acg060.caspio.com/scripts/embed.js"></script>-->
                <!--        <script type="text/javascript">try{f_cbload(true, "c0acg060.caspio.com", "d54c500024417564a6284d7b9b22");}catch(v_e){;}</script>-->
                <!--        <div class="cxkg"><a href="https://c0acg060.caspio.com/dp.asp?AppKey=d54c500024417564a6284d7b9b22">Click here</a> to load this Caspio <a href="http://www.caspio.com" target="_blank" title="Cloud Database">Cloud Database</a></div>-->
                <!--        <div id="cbd54c500024417564a6284d7b9b22"></div>-->
                <!--</div>-->
            </div>




<% include partials/footer %>